name: Train Model

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run training script
      run: python src/train.py

    - name: Write Summary
      run: |
        echo "### Lab 2 Training Results" >> $GITHUB_STEP_SUMMARY
        echo "**Name:** Yashas Kumar S" >> $GITHUB_STEP_SUMMARY
        echo "**Roll No:** 2022BCS0145" >> $GITHUB_STEP_SUMMARY
        echo "" >> $GITHUB_STEP_SUMMARY
        echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
        cat outputs/results/metrics.json >> $GITHUB_STEP_SUMMARY
        echo "\`\`\`" >> $GITHUB_STEP_SUMMARY

    - name: Upload Model Artifact
      uses: actions/upload-artifact@v4
      with:
        name: trained-model
        path: outputs/model/

    - name: Upload Metrics Artifact
      uses: actions/upload-artifact@v4
      with:
        name: evaluation-results
        path: outputs/results/
